1 header{
    background-color: rgb(38, 33, 82);
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(38, 33, 82);
    color: rgb(255, 255, 255);
    
}
.cabecalho-imagens{
    width: 20%;
    
}