*{
    margin: 0 15px;
    padding: 10px 0;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
header{
    background-color: darkslategrey;

    color: white;

}
body{
    background-color: rgb(144, 125, 165);

    color: white;

}
.cabecalho-imagem{
    width: 20%;
}

.cabecalho{
   background-color: #4E2B79;
    display: flex;
    justify-content: space-around;
    padding:24px 0;
font-size: 24px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.escola-imagem {
    width: 25%;
}

.escola{
    background-image: linear-gradient(#4E2B79,#B99CDE);
    display: flex;
    color: white;
}
.escola-conteudo{
    width: 45%;
    
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.escola-titulo{
    padding: 24px 0;
}
.imagem-estudante{
    width: 120px;
}
.etudante-icone{
    width: 50px;
}
.estudante-div{
    text-align: center;
}